body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/211/368/original/global-technology-computer-network-background-vector.jpg);
}
header {
    background-color: rgba(0, 0, 0, 0);
    padding: 30px;
    font-family: consolas;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.521);
    justify-content: space-around;
}
nav a {
    color: rgb(255, 255, 255);
    padding: 14px 70px;
    text-decoration: none;
}
nav span {
    padding: 10px;
    border-radius: 50px;
}
#seccion1 {
    background-color: rgba(127, 255, 212, 0);
    padding: 103px;
    text-align: center;
    font-family: consolas;
    color: white;
}
#informacionPersonal {
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    text-align: center; 
    justify-content: center;
    border: 5px white solid;
    padding: 10px;
}
div h1 {
    font-size: 50px;
}
#flecha {
    background-color: rgba(255, 228, 196, 0);
    text-align: center;
}
#flecha img { 
    background-color: rgba(0, 0, 0, 0);
    width: 60px;
}
#seccion2 {
    background-color: rgba(255, 228, 196, 0);
    padding: 100px;
    text-align: center;
    font-family: consolas;
    color: white;
}
.container {
    background-color: rgba(0, 255, 255, 0);
    display: grid;
    justify-content: center;
    grid-template-columns: 450px 450px;
    grid-column-gap: 70px
    
}
.habilidades {
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    border: 5px white solid;
    padding: 90px;
    margin: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.infoContacto {
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    padding: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 5px white solid;
    font-family: consolas;
    
}
.container1 {
    background-color: rgba(250, 235, 215, 0);
    padding: 50px;
    display: grid;
    grid-template-columns: 480px 480px;
    grid-column-gap: 270px;
}
#logos {
    width: 100px;
}
span:hover {
        transition: 250ms;
        background-color: rgba(86, 86, 88, 0.61);
}